<div
  class="bg-bluegray-900 text-gray-100 flex p-4 justify-content-between border-round-lg"
>
  <div class="text-lg md:text-2xl font-bold md:mr-8">
    💬 Korean Name Generator ⚙️
  </div>

  <!-- put the div in the end -->

  <div class="flex">
    <a
      pRipple
      class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
      style="width: 2rem; height: 2rem"
      href="https://github.com/Min-Ho-Lim"
    >
      <i class="pi pi-github"></i>
    </a>
  </div>
</div>
