<div class="flex-col surface-card p-4 shadow-2 border-round w-full">
  <div class="text-center mb-1 md:mb-5">
    <div class="text-900 md:text-3xl text-lg font-medium">
      Select Your Settings
    </div>
  </div>
  <p-divider></p-divider>
  <h3>
    Name Style
    <i
      class="pi pi-question-circle"
      pTooltip="Type of Name you want to generate"
    ></i>
  </h3>
  <div class="flex flex-col gap-3">
    <div>
      <label for="isMasculline" class="block text-900 font-medium mb-2"
        >👦 Masculline</label
      >
      <p-inputSwitch
        id="isMasculline"
        [(ngModel)]="isMasculline"
      ></p-inputSwitch>
    </div>
    <div>
      <label for="isFeminine" class="block text-900 font-medium mb-2"
        >👧 Feminine</label
      >
      <p-inputSwitch id="isFeminine" [(ngModel)]="isFeminine"></p-inputSwitch>
    </div>
    <div>
      <label for="isFeminine" class="block text-900 font-medium mb-2"
        >🧑 Neuter</label
      >
      <p-inputSwitch id="isNeuter" [(ngModel)]="isNeuter"></p-inputSwitch>
    </div>
  </div>
  <!-- <div>
    <label for="isFeminine" class="block text-900 font-medium mb-2"
      >Coverage {{ rangeValues[0] }} to {{ rangeValues[1] }}</label
    >
    <div class="flex flex-col justify-content-between mb-3">
      <div class="text-900 font-medium">👧 1.0</div>
      <div class="text-900 font-medium">🧑 0.0</div>
      <div class="text-900 font-medium">👦 -1.0</div>
    </div>
    <p-slider [(ngModel)]="rangeValues" [range]="true"></p-slider>
  </div>

  <div>
    <app-generate-form-slider></app-generate-form-slider>
  </div> -->

  <p-divider></p-divider>
  <div *ngIf="isError">
    <h3 class="text-red-400">
      ERROR: Please, try again. If the problem persists, contact me.
    </h3>
  </div>
  <button
    pButton
    label="Create"
    icon="pi pi-plus-circle"
    class="p-button-success border-round-3xl shadow-3"
    (click)="toggleModal()"
    [loading]="isLoading"
  ></button>
</div>

<!-- pass showGeneratedModal to the modal component -->
<app-generated-modal
  [showGeneratedModal]="showGeneratedModal"
  [koreanName]="koreanName"
></app-generated-modal>
