<div class="h-full">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
      <div class="text-blue-600 font-bold mb-3">
        💪 &nbsp;CREATED BY MIN HO LIM
      </div>
      <div class="text-900 font-bold text-5xl mb-3">
        Create your own Korean name
      </div>
      <div class="text-700 text-2xl mb-5">
        Find the perfect Korean name for your baby, character, or nickname with
        our easy-to-use Korean name generator
      </div>
      <button
        pButton
        pRipple
        label="Generate a Korean Name"
        icon="pi pi-plus"
        class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"
      ></button>
    </div>
  </div>
</div>
