
// use assets/wave-background.svg as background

body {
    background-image: url('../assets/wave-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}