/* You can add global styles to this file, and also import other style files */
@import "primeflex/primeflex.css";


body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./assets/wave-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
   