<p-dialog
  header="🎉 Your New Random Korean Name !"
  [modal]="true"
  [(visible)]="showGeneratedModal"
  (onHide)="onClose()"
>
  <div>
    <img src="../../../assets/south-korea-flag.svg" class="h-10rem w-10rem" />
    <h1>
      {{ getKoreanFullName() }}
      <i class="pi pi-copy"></i>
    </h1>
    <h2>{{ getRomanizedFullName() }} <i class="pi pi-copy"></i></h2>
    <div class="flex gap-3 justify-content-evenly">
      <button
        pButton
        label="Generate Again"
        icon="pi pi-replay"
        (click)="getRandomKoreanName()"
        [loading]="isLoading"
      ></button>
    </div>
  </div>
</p-dialog>
